/* image styles
-------------------------------------------------- */
/* As of 2018-Nov, IE is does not support object-fit */
/* .card-img-top {
    object-fit: cover;
    width: 100%;
    height: 250px;
} */

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .card-img-top {
        width: 100%;
        height: 260px;
        background-size: cover;
        background-position: center;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .card-img-top {
        width: 100%;
        height: 330px;
        background-size: cover;
        background-position: center;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .card-img-top {
        width: 100%;
        height: 220px;
        background-size: cover;
        background-position: center;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .card-img-top {
        width: 100%;
        height: 210px;
        background-size: cover;
        background-position: center;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .card-img-top {
        width: 100%;
        height: 250px;
        background-size: cover;
        background-position: center;
    }
}