<% include ../partials/header %>

<main role="main" class="new container pt-4">

    <% include ../partials/flash %>
    
    <div class="pb-2">
        <h3 class="text-center">Create a New Park</h3>
        <div class="jumbotron shadow py-3">
            <p>Please fill-in the required information below:</p>
            <form action="/parks" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label class="font-weight-bold" for="name">Name</label>
                    <input id="name" type="text" class="form-control" name="park[name]" placeholder="Enter park name" required autofocus>
                </div>
                <div class="form-group">
                    <label class="font-weight-bold" for="image">Image</label>
                    <input class="form-control-file" id="image" type="file" name="image" accept="image/*" required>
                </div>
                <div class="form-group">
                    <label class="font-weight-bold" for="location">Location</label>
                    <input id="location" type="text" class="form-control" name="location" placeholder="Enter address" required>
                </div>
                <div class="form-group">
                        <label class="font-weight-bold" for="description">Description</label>
                        <textarea id="description" class="form-control" name="park[description]" rows="5" placeholder="Enter park description" required></textarea>
                    </div>
                <div class="form-group pt-2">
                    <button type="submit" class="btn btn-success btn-lg btn-block">Submit</button>
                    <a href="/parks" class="btn btn-secondary btn-lg btn-block">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</main>

<% include ../partials/footer %>